# Memahami Tuples dan Sets di Python

Tuples
Tuples bersifat immutable (tidak bisa diubah)

In [1]:
keranjangt = (1,2,3,4,5)

In [2]:
keranjangt

(1, 2, 3, 4, 5)

In [3]:
keranjangt2 = (1,2,3,4,5)

In [4]:
keranjangt2

(1, 2, 3, 4, 5)

In [5]:
type(keranjangt)

tuple

In [6]:
type(keranjangt2)

tuple

In [7]:
t1 = (1,2,3,4,5,6,'a','b')

In [8]:
type(t1)

tuple

In [9]:
t2 = 'saya ingin mahir belajar python'

In [10]:
t2

'saya ingin mahir belajar python'

In [11]:
l1 = [1,2,3,4,5]

In [12]:
l1

[1, 2, 3, 4, 5]

In [13]:
l1[1] = 'baru'

In [14]:
l1

[1, 'baru', 3, 4, 5]

In [15]:
keranjangt

(1, 2, 3, 4, 5)

In [16]:
keranjangt[2]

3

In [17]:
keranjangt[-1]

5

In [18]:
#jika ingin merubah isi sebuah tuples

In [19]:
keranjangt2

(1, 2, 3, 4, 5)

In [20]:
keranjangt

(1, 2, 3, 4, 5)

In [21]:
keranjangt = keranjangt[0], keranjangt[1], 'jeruk', keranjangt[3], keranjangt[4]

In [22]:
keranjangt

(1, 2, 'jeruk', 4, 5)

In [23]:
#untuk lenih cepat dengan menggunakan for loop

In [24]:
keranjangt = list(keranjangt)

In [25]:
keranjangt

[1, 2, 'jeruk', 4, 5]

In [26]:
keranjangt[3] = 'apel'

In [27]:
keranjangt

[1, 2, 'jeruk', 'apel', 5]

In [28]:
keranjangt

[1, 2, 'jeruk', 'apel', 5]

## Methode di Tuples

In [29]:
#jika ingin melihat jumlah isi di tuples dengan methode count

t1 = (1,2,3,4,5)

In [30]:
l1 = (1,2,3,4,5)

In [31]:
t1.count(2)

1

In [32]:
#methode dengan index 

t1.index(5)

4

## Multiple assigment and Tuples

In [33]:
#bisa mengisikan variable

In [34]:
a,b,c,d = 1,2,3,4

In [35]:
a

1

In [36]:
b

2

In [37]:
c

3

In [38]:
d

4

In [39]:
a = b = c = d = 'hebat'

In [40]:
a

'hebat'

In [41]:
b

'hebat'

In [42]:
c

'hebat'

In [43]:
d

'hebat'

In [44]:
a, b = 1,2

In [45]:
a

1

In [46]:
a,b

(1, 2)

In [47]:
a,b = b,a

In [48]:
a

2

In [49]:
b

1

In [50]:
#hubungan multiples

In [51]:
tas = ('rambutan', 45, 9.87, [1,2,35])

In [52]:
tas

('rambutan', 45, 9.87, [1, 2, 35])

In [53]:
item1, item2, item3, item4 = tas

In [54]:
item4

[1, 2, 35]

In [55]:
item2

45

In [56]:
item1

'rambutan'

In [57]:
#Penggunaan Tuples bisa digunakan pada saat diinginkan untuk menjaga data supaya tidak diubah

## Sets

sets adalah sebuah tipe data untuk elemen yang bersifat unik tanpa duplikasi dan tidak berurutan

In [58]:
set1 = set()

In [59]:
set1

set()

In [60]:
set1.add('biru')

In [61]:
set1

{'biru'}

In [62]:
set1.add('biru')

In [63]:
set1

{'biru'}

In [64]:
set1.add('kuning')

In [65]:
set1

{'biru', 'kuning'}

In [66]:
list_angka = [1,2,3,3,3,5,6,8,8,9]

In [67]:
set1_angka = set(list_angka)

In [68]:
set1_angka

{1, 2, 3, 5, 6, 8, 9}

# Tuples 
### Tuples bersifat immutable (tidak bisa diubah)

In [1]:
basket =(1,2,3,4,5)

In [3]:
basket2 = 1,2,3,4,5

In [4]:
type(basket2)

tuple

In [5]:
type(basket)

tuple

In [6]:
t1 = 1,2,4.5,'a', 'c'

In [7]:
type(t1)

tuple

In [8]:
l1 = [1,2,3,4,5]

In [9]:
l1

[1, 2, 3, 4, 5]

In [10]:
l1[1]='baru'

In [11]:
l1

[1, 'baru', 3, 4, 5]

In [13]:
basket[2]

3

In [14]:
basket[-1]

5

In [15]:
basket

(1, 2, 3, 4, 5)

In [16]:
basket = basket[0], basket[1], 'gelas', basket[3], basket[4]

In [17]:
basket

(1, 2, 'gelas', 4, 5)

In [18]:
basket = list(basket)

In [19]:
basket

[1, 2, 'gelas', 4, 5]

In [20]:
basket[3] = 'mouse'

In [21]:
basket

[1, 2, 'gelas', 'mouse', 5]

In [22]:
basket = tuple(basket)

In [23]:
basket

(1, 2, 'gelas', 'mouse', 5)

## Methode Tuple

In [24]:
tuple1 = (1,2,3,4,5,6,6,7,7,7,7)

In [25]:
tuple1.count(7)

4

In [26]:
tuple1.index(4)

3

## Multiple Assignment dan Tuple

In [29]:
a,b,c,d = 1,2,3,4

In [30]:
a

1

In [31]:
b

2

In [32]:
d

4

In [33]:
a = b = c = d = 'python'

In [34]:
a

'python'

In [35]:
c

'python'

In [38]:
a,b = 1,2

In [39]:
a

1

In [40]:
b

2

In [41]:
a,b = b,a

In [42]:
a

2

In [43]:
b

1

In [44]:
tas = ('rambutan', 41, 30.6, [1,2,3,4,5])

In [45]:
tas

('rambutan', 41, 30.6, [1, 2, 3, 4, 5])

In [47]:
item1, item2, item3, item4 = tas

In [49]:
item3

30.6

## Sets
### Sets adalah sebuah tipe data untuk elemen yang bersifat unik (tanpa duplikasi) dan tidak berurutan

In [50]:
set1 = set()

In [51]:
set1

set()

In [52]:
set1.add('biru')

In [53]:
set1

{'biru'}

In [55]:
set1.add('kuning')

In [56]:
set1

{'biru', 'kuning'}

In [57]:
set1.add('hitam')

In [58]:
set1

{'biru', 'hitam', 'kuning'}

In [60]:
list_angka = [1,2,3,3,3,3,4,5,6,7,8]

In [61]:
set_angka = set(list_angka)

In [63]:
set_angka

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
set_angka = set(list_angka)

In [65]:
set_angka

{1, 2, 3, 4, 5, 6, 7, 8}