# Range

Range digunakan untuk iterasi

In [1]:
for item in range(0,10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [2]:
#jika ingin langkahnya dengan menamnbahkan angka
# start stop dan step

for item in range(0,20,3):
    print(item)

0
3
6
9
12
15
18

In [3]:
#Mengenerate sebuah angka

In [4]:
angka2 = list(range(1,11))

In [5]:
angka2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Enumerate

Untuk menunjukkan indeks pada sebuah for loop

In [6]:
indeks = 0 
for item in 'abcdrfghij':
    print('karakter {} berada di indeks ke- {}'.format(item,indeks))
    indeks += 1

karakter a berada di indeks ke- 0
karakter b berada di indeks ke- 1
karakter c berada di indeks ke- 2
karakter d berada di indeks ke- 3
karakter r berada di indeks ke- 4
karakter f berada di indeks ke- 5
karakter g berada di indeks ke- 6
karakter h berada di indeks ke- 7
karakter i berada di indeks ke- 8
karakter j berada di indeks ke- 9

In [7]:
#tapi diatas tidak efisins

In [8]:
kata = 'abcdefghij'
for item in enumerate(kata):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')

In [9]:
kata = 'klmnjgiuhgdg'
for item in enumerate(kata):
    print(item)

(0, 'k')
(1, 'l')
(2, 'm')
(3, 'n')
(4, 'j')
(5, 'g')
(6, 'i')
(7, 'u')
(8, 'h')
(9, 'g')
(10, 'd')
(11, 'g')

In [10]:
for a,b in enumerate(kata):
    print(a)
    print(b)

0
k
1
l
2
m
3
n
4
j
5
g
6
i
7
u
8
h
9
g
10
d
11
g

# Zip

Zip digunakan untuk menggabungkan beberapa list

In [11]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']
list3 = [100,200,300,400,500]

In [12]:
#jika ingin digabungkan dengan menggunakan zip

In [13]:
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [14]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

# Item Checking

mengambil nilai sebuah nilai boolean pada saat tupple

In [15]:
'aku belajar'

'aku belajar'

In [16]:
"k" in 'aku belajar'

True

In [17]:
'z' in 'aku belajar'

False

In [18]:
kotak1 = {'a':100, 'b':200, 'c':300}

In [19]:
'v' in kotak1

False

In [20]:
#jika ingin mengecek angka 100

In [21]:
200 in kotak1.values()

True

In [22]:
300 in kotak1.values()

True

# Advance tingkat Mahir for Loops

In [23]:
isi = list(range(1,11))
isi

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
isi2 = list()
for item in range(1,11):
    isi2.append(item)
isi2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
isi3 = [item for item in range(1,11)]
isi3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
isi4 = [baru for baru in range(1,11)]
isi4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
#kelebihan pemakaian seperti ini bisa dilaksanakan pada aritmatika

In [28]:
isi4 = [baru**2 for baru in range(1,11)]
isi4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
isi3 = [keren/2 for keren in range(20,43)]
isi3

[10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0]

In [30]:
isi4 = [baru**2/3+10%43 for baru in range(1,11) if baru%2 == 0]
isi4

[11.333333333333334,
 15.333333333333332,
 22.0,
 31.333333333333332,
 43.333333333333336]

In [31]:
#bisa menambhkan if dan else

In [33]:
isi5 = [item for item in range(1,11) if item%2==0]
isi5

[2, 4, 6, 8, 10]

In [34]:
isi6 = [item if item%2==0 else 'angka ini bilangan ganjil' for item in range(1,11)]
isi6

['angka ini bilangan ganjil',
 2,
 'angka ini bilangan ganjil',
 4,
 'angka ini bilangan ganjil',
 6,
 'angka ini bilangan ganjil',
 8,
 'angka ini bilangan ganjil',
 10]

In [36]:
isi7 = []
for item in range(1,11):
    if item%2==0:
        isi7.append(item)
    else:
        isi7.append('angka ini bilangan ganjil')
isi7

['angka ini bilangan ganjil',
 2,
 'angka ini bilangan ganjil',
 4,
 'angka ini bilangan ganjil',
 6,
 'angka ini bilangan ganjil',
 8,
 'angka ini bilangan ganjil',
 10]

## Range

In [1]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
for i in range(0,100,7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [7]:
angka = list(range(0,10))

In [8]:
angka

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
number = list(range(0,33))

In [10]:
number

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

## Enumerate

In [16]:
word = 'saya sangat semangat belajar data scients'

In [17]:
for i in enumerate(word):
    print(i)

(0, 's')
(1, 'a')
(2, 'y')
(3, 'a')
(4, ' ')
(5, 's')
(6, 'a')
(7, 'n')
(8, 'g')
(9, 'a')
(10, 't')
(11, ' ')
(12, 's')
(13, 'e')
(14, 'm')
(15, 'a')
(16, 'n')
(17, 'g')
(18, 'a')
(19, 't')
(20, ' ')
(21, 'b')
(22, 'e')
(23, 'l')
(24, 'a')
(25, 'j')
(26, 'a')
(27, 'r')
(28, ' ')
(29, 'd')
(30, 'a')
(31, 't')
(32, 'a')
(33, ' ')
(34, 's')
(35, 'c')
(36, 'i')
(37, 'e')
(38, 'n')
(39, 't')
(40, 's')

In [18]:
letter = 'tetap semangat belajar'

In [19]:
for i in enumerate(letter):
    print(i)

(0, 't')
(1, 'e')
(2, 't')
(3, 'a')
(4, 'p')
(5, ' ')
(6, 's')
(7, 'e')
(8, 'm')
(9, 'a')
(10, 'n')
(11, 'g')
(12, 'a')
(13, 't')
(14, ' ')
(15, 'b')
(16, 'e')
(17, 'l')
(18, 'a')
(19, 'j')
(20, 'a')
(21, 'r')

In [20]:
for a,b in enumerate(letter):
    print(a)
    print(b)

0
t
1
e
2
t
3
a
4
p
5

6
s
7
e
8
m
9
a
10
n
11
g
12
a
13
t
14

15
b
16
e
17
l
18
a
19
j
20
a
21
r

## ZIP

digunakan untuk menggabungkan list

In [25]:
item1 = ['word','kata','jumlah','phrase']
item2 = [100,200,300,400,]
item3 = ['nama','isim','kalimah','sentence']

In [27]:
for i in zip(item1,item2,item3):
    print(i)

('word', 100, 'nama')
('kata', 200, 'isim')
('jumlah', 300, 'kalimah')
('phrase', 400, 'sentence')

In [28]:
list(zip(item1,item2,item3))

[('word', 100, 'nama'),
 ('kata', 200, 'isim'),
 ('jumlah', 300, 'kalimah'),
 ('phrase', 400, 'sentence')]

 ## Item Checking

In [1]:
"belajar pyhton"

'belajar pyhton'

In [2]:
"y" in "belajar pyhton"

True

In [3]:
"o" in "belajar pyhton"

True

In [4]:
"z" in "belajar pyhton"

False

In [5]:
box1 = {'a':800, 'z':600, 'x':400}

In [6]:
"c" in box1

False

In [7]:
'z' in box1

True

In [9]:
800 in box1.values()

True

In [10]:
400 in box1.values()

True

## Advance for loops

In [11]:
isi = list(range(1,10))

In [12]:
isi

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
isi2 = list()
for item in range(1,11):
    isi2.append(item)
    isi2

In [16]:
isi2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
isi3 = [(item+1) for item in range(1,11)]

In [20]:
isi3

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [26]:
isi4 = [new for new in range(0,30)]

In [27]:
isi4

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

### RANGE

In [4]:
for item in range (0,10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range (0,21,3):
    print(i)

0
3
6
9
12
15
18

In [6]:
angka = list(range(1,11))

In [7]:
angka

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Enumerate

In [8]:
word = 'nafafafhjsfksfhs'
for i in enumerate(word):
    print(i)

(0, 'n')
(1, 'a')
(2, 'f')
(3, 'a')
(4, 'f')
(5, 'a')
(6, 'f')
(7, 'h')
(8, 'j')
(9, 's')
(10, 'f')
(11, 'k')
(12, 's')
(13, 'f')
(14, 'h')
(15, 's')

In [10]:
for a,b in enumerate(word):
    print(a)
    print(b)

0
n
1
a
2
f
3
a
4
f
5
a
6
f
7
h
8
j
9
s
10
f
11
k
12
s
13
f
14
h
15
s

## ZIP

In [12]:
# Digunakan untuk menggabungkan beberapa list

In [19]:
list1 = [1,2,3,4,5,6,]
list2 = ['a','c','s','d','f']
list3 = [100,200,2300,4553,6363,3663]

In [20]:
for i in zip(list1,list2,list3):
    print(i)

(1, 'a', 100)
(2, 'c', 200)
(3, 's', 2300)
(4, 'd', 4553)
(5, 'f', 6363)

In [23]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'c', 200), (3, 's', 2300), (4, 'd', 4553), (5, 'f', 6363)]

## Item Checking

In [24]:
'pyhton'

'pyhton'

In [25]:
'o' in 'pyhton'

True

In [26]:
'z' in 'pyhton'

False

In [27]:
box1 = {'x':100, 'y':200, 'z':300}

In [28]:
'x' in box1

True

In [29]:
300 in box1.values()

True

In [30]:
200 in box1.values()

True

### Advance For Loops

In [31]:
box2 = [1,2,3,4,5,6,7,8,]

In [35]:
box2 = list(range(1,22))
box2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [37]:
box3 = [item for item in range(1,23)]

In [38]:
box3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [39]:
box4 = [item for item in range(1,23)]

In [40]:
box4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [41]:
box5 = [item*2 for item in range(1,9)]

In [42]:
box5

[2, 4, 6, 8, 10, 12, 14, 16]

In [43]:
box6 = [(item*2+1) for item in range(1,20)]

In [44]:
box6

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [45]:
box7 = [item*5 for item in range(1,40) if item%2 == 0]
box7

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190]

In [46]:
box8 = [item*2 for item in range(20,40) if item%2 == 1]
box8

[42, 46, 50, 54, 58, 62, 66, 70, 74, 78]

In [49]:
box8 = []
for item in range(20,40):
    if item%2 == 0 :
        box8.append(item)
    else: 
        box8.append('maka bilangan ganjil')
box8

[20,
 'maka bilangan ganjil',
 22,
 'maka bilangan ganjil',
 24,
 'maka bilangan ganjil',
 26,
 'maka bilangan ganjil',
 28,
 'maka bilangan ganjil',
 30,
 'maka bilangan ganjil',
 32,
 'maka bilangan ganjil',
 34,
 'maka bilangan ganjil',
 36,
 'maka bilangan ganjil',
 38,
 'maka bilangan ganjil']

In [50]:
box8 = [item if item%2 == 0 else 'maka bilangan ganjil' for item in range(20,40)]
box8

[20,
 'maka bilangan ganjil',
 22,
 'maka bilangan ganjil',
 24,
 'maka bilangan ganjil',
 26,
 'maka bilangan ganjil',
 28,
 'maka bilangan ganjil',
 30,
 'maka bilangan ganjil',
 32,
 'maka bilangan ganjil',
 34,
 'maka bilangan ganjil',
 36,
 'maka bilangan ganjil',
 38,
 'maka bilangan ganjil']

In [51]:
box8 = [item if item%2 == 0 else 'maka bilangan ganjil' for item in range(20,40)]

In [52]:
box8

[20,
 'maka bilangan ganjil',
 22,
 'maka bilangan ganjil',
 24,
 'maka bilangan ganjil',
 26,
 'maka bilangan ganjil',
 28,
 'maka bilangan ganjil',
 30,
 'maka bilangan ganjil',
 32,
 'maka bilangan ganjil',
 34,
 'maka bilangan ganjil',
 36,
 'maka bilangan ganjil',
 38,
 'maka bilangan ganjil']